<!doctype html><html lang="fr" ng-app id="ng-app">
    <head>   
    	<link rel="stylesheet" type="text/css" href="design.css" media="screen" />
    	
        <script src="bower_components/angular/angular.min.js"></script>
        <script>
        function PostsCtrlAjax($scope, $http)
        {
        	
        	$scope.haveACar = true;
        	
        	//valeur pour formulaire 
        	$scope.myElementForm = {
        			  nom:"" ,
        			  dest:"",
        			  localisation:"",
        			  series:"",
        			  nbplace:""
        			};
        $scope.turnCarTrue = function()
        	{
        		$scope.haveACar = false;
        	}	
        	
        	$scope.turnCarFalse = function()
        	{
        		$scope.haveACar = true;
        		 $scope.myElementForm.series="";
        		 $scope.myElementForm.nbplace="";
        	}
        	
        $scope.submitData= function() {
    		
        	if(!$scope.myElementForm.nom || !$scope.myElementForm.dest || !$scope.myElementForm.localisation)
        		{
        			alert("ECHEC: v&eacute;rifier les champs concernant les infos de la personne, les champs ne doivent pas être vides");
        		}
        	else if(($scope.myElementForm.series && ! $scope.myElementForm.nbplace)
        		|| (!$scope.myElementForm.series && $scope.myElementForm.nbplace))
        		{
        			alert("ECHEC: v&eacute;rifier les champs concernant la voiture ");
        		}
        	else
        		{
        		$http.defaults.headers.post["Content-Type"] = "application/x-www-form-urlencoded";
    			$http({method: 'post', 
    				url: 'http://localhost:8080/rest/ev/createPersonne/', 
    				params:{
    					'nom' : $scope.myElementForm.nom, 
    					'dest' : $scope.myElementForm.dest, 
    					'localisation': $scope.myElementForm.localisation,
    					'series' : $scope.myElementForm.series, 
    					'nbplace' : $scope.myElementForm.nbplace,
    					}
    				}).success(function(data){
        			alert("Personne cr&eacute;e avec succès");
        			window.location.href = "list_personne.html";
        		})
        		.error(function(data, status, headers, config) {
            	    alert("echec "+ status);
            	  });
        		}
        	
        }
        /**
        @QueryParam("nom") String nom, 
			@QueryParam("dest") String dest,
			@QueryParam("localisation") String local, 
			@QueryParam("series") String series, 
			@QueryParam("nbplace") String nbplace )
        **/
        }
        </script>
        <style>
        body{font-family:arial; font-size:12px;padding:10px;}
        .postBody{ width:550px; border-bottom:dashed 2px #dedede}
        .postBody a{color:#333333;text-decoration:none}
        .postBody a:hover{color:#006699;background-color:#dedede}
        .time{margin:10px 0px 10px 0px; color:#006699; }
        </style>
    </head>
     <nav>
    	<ul>
    		<li>MENU</li>
    		<li> <a href="list_personne.html" >go to List Personne</a></li>
    		 <li><a href="index.html" >go to list evenement</a></li>
    	</ul>
    </nav>
    <body >
            <h1>CREER UNE PERSONNE</h1>  
            
            <div id="ng-app" ng-app ng-controller="PostsCtrlAjax"> 
	            	<form >
	            		NOM:<br>
						<input type="text" name="nom" ng-model="myElementForm.nom" name="depart" required><br>
						
						LOCALISATION:<br>
						<input type="text" name="local" ng-model="myElementForm.localisation" required><br>
						
						Destination:<br>
						<input type="text" name="local" ng-model="myElementForm.dest" required><br>
						
						 <form>
						 	<p> Avez vous une voiture ?<br> </p>
						  <label for="oui">Oui</label>
						  <input type="radio" ng-click="turnCarTrue()" name="car" value="oui">
						  <label for="non">Non</label>
						  <input type="radio" ng-click="turnCarFalse()" name="car" value="non"><br>
						</form> 
						<div ng-hide="haveACar"> 
							
							Marque de voiture:<br>
							<input type="text" name="local" ng-model="myElementForm.series" required><br>
							
							Nombre de place:<br>
							<input type="number" min="1" max="20" name="local" ng-model="myElementForm.nbplace" required><br>
						</div>
	            		<button type="submit"  ng-click="submitData()">Create Personne</button> 
	            	</form>
            </div> 
    </body></html>