<!doctype html><html lang="fr" ng-app id="ng-app">
    <head>
    	<link rel="stylesheet" type="text/css" href="design.css" media="screen" />
        <script src="bower_components/angular/angular.min.js"></script>
        <script>
        function PostsCtrlAjax($scope, $http)
        {
        	$scope.param = window.location.search.split('id=')[1];
        	$scope.showModifNom = true;
        	$scope.nouveau_nom= { //utile pour la modification du nom
        			id:$scope.param ,
        			nom:""
        	}
        	
        	//participe evenement , pour la liste deroulante "participer"
        	$scope.participe_evenement="";
        	
        	//helper zone commentaire, pour la liste deroulante "commenter"
        	$scope.commentaire_id_ev="";
        	$scope.commentaire_value="";
        	
        	//valeur pour formulaire creer personne
        	$scope.myElementForm = {
        			  id:$scope.param ,
        			  depart:"",
        			  destination:""
        			};
        	
        	//pour recuperer les infos de la personne
        	$http({method: 'GET', url:'http://localhost:8080/rest/ev/personne/id/'+$scope.param})
        	.success(function(data){
        			$scope.post = data;
        	})
        	.error(function(data, status, headers, config) {
        	    alert("echec "+status);
        	  });
        	
        	//pour récupérer la liste des evenements ou la personne ne participe pas.
        	$http({method: 'GET', url:'http://localhost:8080/rest/ev/evenements_not_personne/'+$scope.param})
        	.success(function(data){
        			$scope.evenements_not = data;
        	})
        	.error(function(data, status, headers, config) {
        	    alert("echec: evenement_not "+status);
        	  });
        	
        	//pour récupérer la liste des evenements ou la personne participe.
        	$http({method: 'GET', url:'http://localhost:8080/rest/ev/evenements_personne/'+$scope.param})
        	.success(function(data){
        			$scope.evenements = data;
        	})
        	.error(function(data, status, headers, config) {
        	    alert("echec: evenement "+status);
        	  });
        	
        $scope.submitData = function() {
			if($scope.myElementForm.depart && $scope.myElementForm.destination)
				{
				$http.defaults.headers.post["Content-Type"] = "application/x-www-form-urlencoded";
				$http({method: 'post', 
					url: 'http://localhost:8080/rest/ev/propose/', 
					params:{'id' : $scope.myElementForm.id, 
						'depart' : $scope.myElementForm.depart, 
						'dest': $scope.myElementForm.destination}
					}).success(function(data){
	    			alert("Evenement cr&eacute;e");
	    			window.location.href = "index.html";
	    		})
	    		.error(function(data, status, headers, config) {
	        	    alert("echec "+ status);
	        	  });
				}
			else
				{
					alert('Veuillez compl\351 champs d\351part et destination svp');
				}
    		
			
        	}
     	
        	$scope.showModifNomCtrl = function()
        	{
            	$scope.showModifNom = !$scope.showModifNom;
        	}
        	
        	//pour changer le nom de la personne
        	$scope.submitModifNom = function()
        	{
        		if($scope.nouveau_nom.id && $scope.nouveau_nom.nom) 
        			{
        			$http.defaults.headers.post["Content-Type"] = "application/x-www-form-urlencoded";
        			$http({method: 'post', 
        				url: 'http://localhost:8080/rest/ev/changeNamePersonne/', 
        				params:{'id' : $scope.nouveau_nom.id, 
        					'nom' : $scope.nouveau_nom.nom}
        				}).success(function(data){
            			alert("Votre demande a bien \351t\351 pris en compte");
            			window.location.href = "detail_personne.html?id="+$scope.param;
            		})
            		.error(function(data, status, headers, config) {
                	    alert("\351chec "+ status);
                	  });
        			}
        		else
        			{
        				alert('Echec de la modification du nom, v\351rifier le champs \340 compl\351ter');
        			}
        		
        	}
        	
        	//pour la participation à un evenement
        	$scope.participe = function()
        	{
        		if($scope.participe_evenement)
        			{
        				$http.defaults.headers.post["Content-Type"] = "application/x-www-form-urlencoded";
            			$http({method: 'post', 
            				url: 'http://localhost:8080/rest/ev/taketrajetBool/', 
            				params:{'idPersonne' : $scope.param, 
            					'idEvenement' : $scope.participe_evenement}
            				}).success(function(data){
            					if(data=="true")
            						{
            							alert(data +" Votre demande a bien \351t\351 pris en compte, vous participer à l'\351venement");
                        				window.location.href = "detail_personne.html?id="+$scope.param;
            						}
            					else
            						{
            							alert(data +" Plus de place pour cette evenement, désolé");
            						}
                		})
                		.error(function(data, status, headers, config) {
                    	    alert("\351chec "+ status);
                    	  });
            			
        			}
        		else
        			{
        				alert("Veuillez choisir un \351venement valide");
        			}
            	
        	}
        	
        	//pour le commentaire 
        	$scope.submit_commentaire = function()
        	{
        		if($scope.commentaire_id_ev)
        			{
        				$http.defaults.headers.post["Content-Type"] = "application/x-www-form-urlencoded";
            			$http({method: 'post', 
            				url: 'http://localhost:8080/rest/ev/redige_com/', 
            				params:{'idPersonne' : $scope.param, 
            					'idEven' : $scope.commentaire_id_ev,
            					'value': $scope.commentaire_value}
            				}).success(function(data){
                			alert("Votre demande a bien \351t\351 pris en compte");
                			window.location.href = "detail_personne.html?id="+$scope.param;
                		})
                		.error(function(data, status, headers, config) {
                    	    alert("\351chec "+ status);
                    	  });
            			
        			}
        		else
        			{
        				alert("Veuillez choisir un \351venement valide pour envoyer votre commentaire");
        			}
            	
        	}
        	
        }
        </script>
        <style>
        body{font-family:arial; font-size:12px;padding:10px;}
        .postBody{ width:550px; border-bottom:dashed 2px #dedede}
        .postBody a{color:#333333;text-decoration:none}
        .postBody a:hover{color:#006699;background-color:#dedede}
        .time{margin:10px 0px 10px 0px; color:#006699; }
        </style>
    </head>
     <nav>
    	<ul>
    		<li>MENU</li>
    		<li> <a href="list_personne.html" >go to List Personne</a></li>
    		 <li><a href="index.html" >go to list evenement</a></li>
    		<li><a href="create_personne.html" >go to create personne</a></li>
    	</ul>
    </nav>
    <body >
            <h1>Details Personne</h1>  
            <div id="ng-app" ng-app ng-controller="PostsCtrlAjax">  
            	
	           		<h2>Nom: {{post.nom}} <button ng-click="showModifNomCtrl()">Modifier</button></h2>
	           		<div ng-hide="showModifNom">
	            		<input type="text" name="nouveau_nom" ng-model="nouveau_nom.nom" required>
	            		<button type="submit"  ng-click="submitModifNom()">Modifier le nom</button> 
	            	</div></br>
	            	<div>id: {{post.id}} </div>
	            	<div>Destination : {{post.destination}} </div>
	            	<div>localisation : {{post.localisation}} </div>
	            	<div ng-show="post.voiture != null">
	            		<p>Voiture : {{post.voiture.series}} </p>
	            		<p>Nb Place: {{post.voiture.nbPlaceTotal}} </p>
	            	</div>
	            	
	            	<form ng-show="post.voiture != null" id="zoneCreateEv">
	            	<div class="decaler_droite">
	            		<h3>Creation d'un Evenement</h3>
	            		<p>Ici vous pouvez cr&eacute;e un Evenement de covoiturage </br>
	            		Dans laquelle <strong>{{post.nom}}</strong> sera
	            		conducteur.
	            		</p>
	            		<p>Veuillez sp&eacute;cifier la ville de d&eacute;part et de destination SVP</p>
	            		Depart:<br>
						<input type="text" name="depart" ng-model="myElementForm.depart" required>
						<br>
						
						Destination:<br>
						<input type="text" name="dest" ng-model="myElementForm.destination" required>
						<br>
	            		<button type="submit"  ng-click="submitData()">Create Evenement</button>
	            	</div>
	           	 	</form>
	           	 	
	           	 	<form id="zoneTakeTrajet" >
	           	 	<div>
	           	 		<h3>Participer &agrave; un evenement</h3>
	           	 		<p>Ici vous pouvez participer &agrave; des evenements, vue sur la page montrant la
	           	 			<a href="index.html">liste des evenements</a>
	            		</p>
	            		 <select name="menu_destination" ng-model="participe_evenement" >
	            		 	  <option value=""></option>
	            		 	  
					          <option value="{{ev.id}}"  ng-repeat="ev in evenements_not" ng-value="ev.id">{{ev.id}}: {{ev.depart}} - {{ev.dest}} </option>

					     </select>
	            		<button type="submit" ng-click="participe()">Participer</button>
	            		
	            	</div>
	           	 	</form>
	           	 	
	           	 	<form id="zoneCreateCommentaire">
	           	 	<div>
	           	 		<h3>Creation de Commentaire</h3>
	           	 		<p>Ici vous pouvez r&eacute;diger des commentaires pour un des evenements ou vous
	           	 		avez particip&eacute;. </br>
	            		
	            		<form>
	            			<p>Veuillez choisir l'evenement </p>
	            			<select name="comment_ev" ng-model="commentaire_id_ev" >
	            		 	  <option value=""></option>
	            		 	  <option value="{{ev.id}}"  ng-repeat="ev in evenements" ng-value="ev.id">{{ev.id}}: {{ev.depart}} - {{ev.dest}} </option>
					    	</select>
	            			Votre message:<br>
							<input type="text" name="dest" ng-model="commentaire_value" required>
							<button type="submit"  ng-click="submit_commentaire()">Envoi Commentaire</button> 
	            		</form>
	            		</p>
	            	</div>
	           	 	</form>
            </div> 
    </body></html>