<!doctype html><html lang="fr" ng-app id="ng-app">
    <head>
    	<link rel="stylesheet" type="text/css" href="design.css" media="screen" />
        <script src="bower_components/angular/angular.min.js"></script>
        <script>
        function PostsCtrlAjax($scope, $http)
        {
        	
        	
        	$scope.param = window.location.search.split('id=')[1];
        	
        	//valeur pour formulaire 
        	$scope.myElementForm = {
        			  id:$scope.param ,
        			  depart:"",
        			  destination:""
        			};
        	
        	$http({method: 'GET', url:'http://localhost:8080/rest/ev/personne/id/'+$scope.param})
        	.success(function(data){
        			$scope.post = data;
        	})
        	.error(function(data, status, headers, config) {
        	    alert("echec "+status);
        	  });
        
        	
        
        	
        $scope.submitData = function() {
			
			//var myParam = window.location.search.split('id=')[1];
			//alert("aaa ja"+myElementForm.id+" "+myElementForm.depart+" "
				//	+myElementForm.destination);
			
			$http.defaults.headers.post["Content-Type"] = "application/x-www-form-urlencoded";
			$http({method: 'post', 
				url: 'http://localhost:8080/rest/ev/propose/', 
				params:{'id' : $scope.myElementForm.id, 'depart' : $scope.myElementForm.depart, 'dest': $scope.myElementForm.destination}
				}).success(function(data){
    			alert("Evenement crée");
    			window.location.href = "index.html";
    		})
    		.error(function(data, status, headers, config) {
        	    alert("echec "+ status);
        	  });
    		
			
        	}
        }
        </script>
        <style>
        body{font-family:arial; font-size:12px;padding:10px;}
        .postBody{ width:550px; border-bottom:dashed 2px #dedede}
        .postBody a{color:#333333;text-decoration:none}
        .postBody a:hover{color:#006699;background-color:#dedede}
        .time{margin:10px 0px 10px 0px; color:#006699; }
        </style>
    </head>
     <nav>
    	<ul>
    		<li>MENU</li>
    		<li> <a href="list_personne.html" >go to List Personne</a></li>
    		 <li><a href="index.html" >go to list evenement</a></li>
    		<li><a href="create_personne.html" >go to create personne</a></li>
    	</ul>
    </nav>
    <body >
            <h1>Details Personne</h1>  
            <div id="ng-app" ng-app ng-controller="PostsCtrlAjax">  
            	
	           		<h2>Nom: {{post.nom}}</h2>
	            	<div>{{post.id}} </div>
	            	<div>Destination : {{post.destination}} </div>
	            	<div>localisation : {{post.localisation}} </div>
	            	<div ng-show="post.voiture != null">
	            		<p>Voiture : {{post.voiture.series}} </p>
	            		<p>Nb Place: {{post.voiture.nbPlaceTotal}} </p>
	            	</div>
	            	
	            	<form ng-show="post.voiture != null">
	            		<h3>Creation d'un Evenement</h3>
	            		<p>Ici vous pouvez cr&eacute;e un Evenement de covoiturage </br>
	            		Dans laquelle <strong>{{post.nom}}</strong> sera
	            		conducteur.
	            		</p>
	            		<p>Veuillez sp&eacute;cifier la ville de d&eacute;part et de destination SVP</p>
	            		Depart:<br>
						<input type="text" name="depart" ng-model="myElementForm.depart" name="depart" required>
						<br>
						
						Destination:<br>
						<input type="text" name="dest" ng-model="myElementForm.destination" required>
						<br>
	            		<button type="submit"  ng-click="submitData()">Create Evenement</button> 
	           	 	</form>
            </div> 
    </body></html>